.result-column.neon-box {
  box-shadow: none;
}

.result-column:hover {
  background-color: darken(transparentize($neon-color, 0.5), 60%);
  border-color: $neon-color;
  box-shadow: 0 0 10px 0 $neon-color;
}

.player-result {
  height: 2em;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-result:hover {
  background-color: transparentize($neon-color, 0.3);
  color: $color-black;
  font-weight: 600;
}

.player-result.result__player-name {
  background-color: $dark-app-bg-color;
  font-weight: 600;
}

.player-result.result__player-name:hover {
  color: $text-color;
}

.player-result.result__player-hero {
  height: 6vh;
}

.player-result.result__player-items {
  height: 7vh;
}

.isHighlighted {
  background-color: darken(transparentize($neon-color, 0.5), 60%);
}