<template>
  <div class="match">
    <div class="result-table" @mouseover="highlightCells">
      <team-result :team="radiantTeam" :classToHighlight="classToHighlight"></team-result>
      <div class="result-caption">
        <div class="player-result result__player-name">Joueur</div>
        <div class="player-result result__player-hero">Héros</div>
        <div class="player-result result__player-kda">K / D / A</div>
        <div class="player-result result__player-nw">NW</div>
        <div class="player-result result__player-gpm">GPM</div>
        <div class="player-result result__player-xpm">XPM</div>
        <div class="player-result result__player-lh">Last Hits</div>
        <div class="player-result result__player-dn">Denies</div>
        <div class="player-result result__player-hd">Hero Damage</div>
        <div class="player-result result__player-hh">Hero Healing</div>
        <div class="player-result result__player-td">Tower Damage</div>
        <div class="player-result result__player-items">Items</div>
        <div class="player-result result__player-bp">Backpack</div>
      </div>
      <team-result :team="direTeam" :classToHighlight="classToHighlight"></team-result>
    </div>
  </div>
</template>

<script>
import TeamResult from './team-result';
import * as types from '../../store/mutation-types';

const CELL_DEFAULT_NAME = 'player-result';

export default {
  name: 'Match',
  data() {
    return {
      matchId: this.$route.params.matchId,
      radiant: {
        players: [],
      },
      dire: {
        players: [],
      },
      classToHighlight: '',
    };
  },
  components: {
    teamResult: TeamResult,
  },
  computed: {
    match() {
      return this.$store.getters.currentMatch;
    },
    radiantName() {
      const radiantTeam = this.match.radiant;
      return radiantTeam ? radiantTeam.name : 'Radiant';
    },
    direName() {
      const direTeam = this.match.dire;
      return direTeam ? direTeam.name : 'Dire';
    },
    radiantTeam() {
      return this.match.radiant ? this.match.radiant.players : null;
    },
    direTeam() {
      return this.match.dire ? this.match.dire.players : null;
    },
    title() {
      return `${this.radiantName} vs. ${this.direName}`;
    },
  },
  created() {
    this.$store.dispatch(types.LOAD_CURRENT_MATCH, {
      matchId: this.matchId,
    });
  },
  watch: {
    title() {
      this.$store.commit(types.SET_TITLE, this.title);
    },
  },
  methods: {
    highlightCells(evt) {
      const classes = evt.target.getAttribute('class');
      if (classes) {
        const index = classes.indexOf(CELL_DEFAULT_NAME);

        if (index > -1) {
          const cellClass = classes.slice(CELL_DEFAULT_NAME.length, classes.length).trim();
          this.classToHighlight = cellClass;
        } else {
          this.classToHighlight = '';
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../../styles/app.scss';
  
  .result-table {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-column-gap: .5em;
  }

  .result-caption {
    background: $dark-app-bg-color;
    border-radius: $border-radius;
    border: 1px solid $color-black;
  }
</style>
