<template>
  <div class="player-result" :class="{isHighlighted: shouldHighlight}">
    <template v-if="isPortrait">
      <img class="table__image table__image-l" :src="getPortrait(attribute)" />
    </template>
    <template v-else-if="isInventory">
      <div class="table__inventory">
        <img v-for="item in getInventoryList(attribute)" class="table__image table__image-m" :src="getItemImage(item)" />
      </div>
    </template>
    <template v-else-if="isBackpack">
      <img v-for="item in getBackpackList(attribute)" class="table__image table__image-s" :src="getItemImage(item)" />
    </template>
    <template v-else>
      {{ attribute }}
    </template>
  </div>
</template>

<script>
import { getHeroPortrait } from '../../helpers/heroes';
import { findItemImg } from '../../helpers/items';
import { getPlayerInventory, getPlayerBackpack } from '../../helpers/players';

export default {
  name: 'PlayerResult',
  props: ['attribute', 'classToHighlight', 'cellType'],
  data() {
    return {
      shouldHighlight: false,
    };
  },
  computed: {
    isPortrait() {
      return this.cellType === 'portrait';
    },
    isInventory() {
      return this.cellType === 'inventory';
    },
    isBackpack() {
      return this.cellType === 'backpack';
    },
  },
  methods: {
    getPortrait(heroId) {
      return getHeroPortrait(heroId);
    },
    getInventoryList(player) {
      return getPlayerInventory(player);
    },
    getItemImage(itemId) {
      return findItemImg(itemId);
    },
    getBackpackList(player) {
      return getPlayerBackpack(player);
    },
  },
  watch: {
    classToHighlight() {
      if (this.classToHighlight !== '') {
        const isHighlighted = this.$el.className.indexOf(this.classToHighlight);
        if (isHighlighted > -1) {
          this.shouldHighlight = true;
        } else {
          this.shouldHighlight = false;
        }
      } else {
        this.shouldHighlight = false;
      }
    },
  },
};
</script>
