<template>
  <modal class="player-details">
    <!--template :v-if="isReady">
      <div class="player__primary-info">
        <!--img class="player__hero" :src="getPortrait(player.hero_id)" />
        <div class="player__description">
          <h2>{{ player.name }}</h2>
        </div>
      </div>
    </template-->
  </modal>
</template>

<script>
  import Modal from '../modal';
  import { getHeroPortrait } from '../../helpers/heroes';

  export default {
    name: 'PlayerDetails',
    props: ['player'],
    data() {
      return {
        isReady: false,
      };
    },
    components: {
      modal: Modal,
    },
    methods: {
      getPortrait(heroId) {
        return getHeroPortrait(heroId);
      },
    },
    ready() {
      this.isReady = true;
    },
  };
</script>

<style lang="scss" scoped>
  @import '../../styles/app.scss';

  .player__primary-info {
    display: flex;
  }

  .player__description {
    margin-left: 1em;
  }
</style>
