<template>
  <div class="team-result">
    <player-details :player="showModal" v-if="showModal"/>
    <div class="result-column neon-box" v-for="player in team" @click="displayPlayerDetails(player)">
      <player-result :attribute="player.name" class="result__player-name"/>
      <player-result :attribute="player.hero_id" :cellType="portrait" class="result__player-hero"/>
      <player-result :attribute="getKda(player)" class="result__player-kda" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.total_gold" class="result__player-nw" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.gold_per_min" class="result__player-gpm" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.xp_per_min" class="result__player-xpm" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.last_hits" class="result__player-lh" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.denies" class="result__player-dn" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.hero_damage" class="result__player-hd" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.hero_healing" class="result__player-hh" :classToHighlight="classToHighlight" />
      <player-result :attribute="player.tower_damage" class="result__player-td" :classToHighlight="classToHighlight" />
      <player-result :attribute="player" class="result__player-items" :classToHighlight="classToHighlight" :cellType="inventory" />
      <player-result :attribute="player" class="result__player-bp" :classToHighlight="classToHighlight" :cellType="backpack" />
    </div>
  </div>
</template>

<script>
  import PlayerResult from './player-result';
  import PlayerDetails from './player-details';
  import * as types from '../../store/mutation-types';

  import { getPlayerKda } from '../../helpers/players';

  export default {
    name: 'TeamResult',
    props: ['team', 'classToHighlight'],
    data() {
      return {
        portrait: 'portrait',
        inventory: 'inventory',
        backpack: 'backpack',
      };
    },
    components: {
      playerResult: PlayerResult,
      playerDetails: PlayerDetails,
    },
    computed: {
      showModal() {
        return this.$store.getters.showModal;
      },
    },
    methods: {
      getKda(player) {
        return getPlayerKda(player);
      },
      displayPlayerDetails(player) {
        this.$store.commit(types.SHOW_MODAL, player);
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import '../../styles/app.scss';

  .team-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: .5em;
  }
</style>
