.modal-enter-active {
  animation: unfold .8s ease-out 0s 1;
} 

.modal-leave-active {
  animation: unfold .8s ease-out 0s 1 reverse;
} 

@keyframes unfold {
  0% {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50;
    width: 0;
    height: 0;
  }
  70% {
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    width: 100%;
    height: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}