$radiant-color: #599463;
$dire-color: #D73C26;

// TL colors
$color-navy: #21314d;
$color-snow: #f2f4f7;

$color-mint: #01c3a7;
$color-fern: #14b69f;
$color-pond: #d3f9f4;
$color-gin: #eefffd;
$color-ivy: #059e87;

$color-sky: #4b96f8;
$color-sky-darker: #3884e4;
$color-sky-very-darker: #2d77db;

$color-mintsub: #dcfaf6;
$color-mintsub-darker: #9ef1e6;

$color-kevin: #ffbd24;
$color-kevin-darker: #fab81e;
$color-kevin-very-darker: #f5ab00;

$color-canary: #ffe94a;

$color-marine: #2f4e84;
$color-delta: #0375b6;
$color-fox: #e87619;
$color-peach: #fccd97;
$color-dover: #e6f4fc;
$color-rose: #fce8e6;
$color-sam: #e02007;
$color-lichen: #f2f9ec;
$color-leaf: #90c25b;

$color-darth: #13181a;
$color-moria: #323e42;
$color-slate: #647479;
$color-storm: #8c9da1;
$color-steel: #c0c9cc;
$color-marble: #dce3e6;

// generic colors
$color-white: #fff;
$color-black: #000;
$color-tap: #eefdff;

// variantes
$color-navy-lighter: #223C68;

$color-idzap: #e50780;
$color-idzen: #762c85;
