html, body {
  height: 100%;
  margin: 0;
  // background: $app-bg-color;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: $link-color;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

table {
  border-color: $border-color;
  width: 100%;
}

tr {
  background-color: transparentize($dark-app-bg-color, .1);
}

td, th {
  //border-width: 3px 0;
  // border-style: solid; 
  // border-color: $app-bg-color;
  padding: .5em;
  z-index: 0;
}

thead {
  background-color: $dark-app-bg-color;
}

tr:hover {
  // background-color: $app-bg-color;
  color: $color-black;
  // font-weight: 600;
  background-color: transparentize($neon-color, .5);
}

.table__image {
  vertical-align: middle;
}

.table__image-l {
  max-height: 60px;
}

.table__image-m {
  max-height: 30px;
}

.table__image-s {
  max-height: 20px;
}

.table__items {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.table__inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table__backpack {
  display: grid;
  grid-template-row: 1fr 1fr 1fr;
}

.radiant {
  color: $radiant-color;
}

.radiant-bg {
  background-color: $radiant-color;
}

.dire {
  color: $dire-color;
}

.dire-bg {
  background-color: $dire-color;
}