$app-bg-color: #10151A;
$dark-app-bg-color: #0C1014;
$navbar-bg-color: $dark-app-bg-color;

$text-color: $color-white;
$link-color: $color-white;

$border-radius: 5px;
$border-color: $color-navy;
$neon-color: $color-sam;

$input-bg-color: $color-white;

// navbar
$navbar-height: 6em;

// modal
$modal-backdrop-color: transparentize($dark-app-bg-color, 0.3);

// TI7 colors

$neon-color: $color-peach;

$table-cell-bg-color: transparentize($dark-app-bg-color, .1);
$secondary-bg-color: #0ff;