<template>
  <tr class="table__row match__row">
    <td class="match__id">
      <router-link class="match__link" :to="{ name: 'Match', params: { matchId: match.match_id }}">
      {{ match.match_id }}
      </router-link>
    </td>
    <td class="match__teams">
      <span class="match__radiant-team radiant">{{ radiantName }}</span> vs. <span class="match__dire-team dire">{{ direName }}</span>
    </td>
    <td class="match__league">{{ match.league_name }}</td>
  </tr>
</template>

<script>
export default {
  name: 'MatchRow',
  props: { match: Object },
  computed: {
    radiantName() {
      const radiantName = this.match.radiant_name;
      return radiantName || 'Radiant';
    },
    direName() {
      const direName = this.match.dire_name;
      return direName || 'Dire';
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../styles/app.scss';
</style>
