<template>
  <div id="matches">
    <h3>{{ title }}</h3>
    <ul id="match-list">
      <li v-for="tournament in tournamentList"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TournamentList',
  data() {
    return {
      title: 'Derniers tournois',
    };
  },
};
</script>
