<template>
  <div class="last-matches">
    <h3>{{ title }}</h3>
    <table id="match-list">
      <thead>
        <th>ID du match</th>
        <th>Match</th>
        <th>Ligue</th>
      </thead>
      <match-row v-for="matchItem in matches" :match="matchItem"></match-row>
    </table>
  </div>
</template>

<script>
import MatchRow from './match-row';

export default {
  name: 'MatchList',
  data() {
    return {
      title: 'Derniers matches',
    };
  },
  props: ['matches'],
  components: {
    matchRow: MatchRow,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
