<template>
  <transition name="fade-in">
    <div class="modal__backdrop" transition="modal" @click="clickModal">
      <div class="modal__container neon-box">
        <div class="modal__handle modal__handle-top-left neon-box" />
        <div class="modal__handle modal__handle-top-right neon-box" />
        <div class="modal__handle modal__handle-bottom-left neon-box" />
        <div class="modal__handle modal__handle-bottom-right neon-box" />
        <div class="modal__content">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import * as types from '../store/mutation-types';

export default {
  name: 'Modal',
  props: ['showModal'],
  created() {
    document.addEventListener('keypress', (evt) => {
      if (this.displayModal && evt.keyCode === 27) {
        this.closeModal();
      }
    });
  },
  // computed: {
  //   showModal() {
  //     return this.$store.getters.showModal;
  //   },
  // },
  methods: {
    clickModal(evt) {
      if (evt.target === this.$el) {
        this.closeModal();
      }
    },
    closeModal() {
      this.$store.commit(types.SHOW_MODAL, false);
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../styles/app.scss';

  .modal__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $modal-backdrop-color;
    padding: 3em;
  }

  .modal__container {
    position: relative;
    //animation: .8s ease-out 0s 1 unfold;
    height: 100%;
    box-sizing: border-box;
    background: transparentize($secondary-bg-color, 0.8);
  }

  .modal__content {
    overflow: hidden;
    margin: 2em;
    animation: fade-in .8s ease-out .8s;
  }

  .modal__handle {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 0 20px 10px $neon-color;
    opacity: 0;
    animation: fade-out step-end .8s;
  }

  .modal__handle-top-left {
    top: -10px;
    left: -10px;
  }

  .modal__handle-top-right {
    top: -10px;
    right: -10px;
  }

  .modal__handle-bottom-left {
    bottom: -10px;
    left: -10px;
  }

  .modal__handle-bottom-right {
    bottom: -10px;
    right: -10px;
  }
</style>
