<template>
  <nav class="navbar">
    <h1>
      <router-link to="/">{{ title }}</router-link>
    </h1>
  </nav>
</template>

<script>
  export default {
    name: 'Navbar',
    props: ['title'],
  };
</script>

<style lang="scss" scoped>
  @import '../styles/app.scss';

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $neon-color;
    box-shadow: 0px 1px 30px 0px transparentize($neon-color, .5);
    background: darken(transparentize($neon-color, 0.6), 30%);
    height: 5em;
  }
</style>
