<template>
  <div id="last-tournaments">
    <h3>{{ title }}</h3>
    <ul id="tournament-list">
      <li v-for="tournament in tournamentList"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TournamentList',
  data () {
    return {
      title: 'Derniers tournois'
    }
  }
}
</script>
