<template>
  <div id="app" @keyup.esc="closeModal" tabindex="-1">
    <video id="background" autoplay muted loop>
      <source :src="video" type="video/webm">
    </video>
    <navbar :title="title"></navbar>
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from './components/navbar';
import Modal from './components/modal';
import * as types from './store/mutation-types';

export default {
  name: 'app',
  data() {
    return {
      video: '../static/keyart.webm',
    };
  },
  computed: {
    title() {
      return this.$store.getters.title;
    },
  },
  components: {
    navbar: Navbar,
    modal: Modal,
  },
  methods: {
    closeModal() {
      this.$store.commit(types.SHOW_MODAL, false);
    },
  },
};
</script>

<style lang="scss">
@import './styles/app.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  // background-color: $app-bg-color;
  min-height: 100%;
  padding: .5em;
  display: grid;
  align-items: center;
}
</style>
