<template>
  <div class="home">
    <match-list :matches="matches" />
  </div>
</template>

<script>
import MatchList from './components/match-list';
import * as types from './store/mutation-types';
// import TournamentList from './components/tournament-list.vue'
// const MATCH_COUNT = 10;

export default {
  name: 'Home',
  data() {
    return {
      msg: 'FroggedTV overlays',
    };
  },
  components: {
    matchList: MatchList,
//    tournamentList: TournamentList
  },
  computed: {
    matches() {
      return this.$store.getters.tenLastMatches;
    },
  },
  created() {
    this.$store.dispatch(types.LOAD_MATCHES);
  },
};
</script>
